python run.py

NOTEAPP/
├─ app/
│   ├─ routes/
│   │   ├─ auth.py
│   │   ├─ notes.py
│   │   └─ tags.py
│   ├─ static/
│   ├─ templates/
│   │   ├─ base.html
│   │   ├─ dashboard.html
│   │   ├─ edit_note.html
│   │   ├─ home.html
│   │   ├─ login.html
│   │   ├─ new_note.html
│   │   ├─ note_form.html
│   │   ├─ register.html
│   │   ├─ tag_form.html
│   │   ├─ tag_list.html
│   │   └─ view_note.html
│   ├─ __init__.py
│   ├─ admin.py
│   └─ models.py
├─ migrations/
├─ static/
├─ .env
├─ config.py
├─ requirements.txt
└─ run.py
